@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.imageBg {
  background: #010F16 url('/src/assets/Group 39.png') no-repeat;
  background-size: cover;
  background-position: right bottom;
}

body {
  background-color: #010F16;
}